* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 300vh;  druga strona */
    height: 230vh;
    /*trzecia strona*/
    width: 100%;
    font-family: 'Sanchez', serif;
    overflow: hidden;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    justify-content: start;
}

header.logo img {
    width: 120px;
    margin-top: 25px;
    margin-left: 15px;
}

section {
    display: flex;
    width: 100%;
    /* height: 200px; */
    flex-basis: 13%;
    justify-content: space-between;
}

section nav {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    height: 100%;
    /* background-color: #552285; */
    justify-content: center;

}

nav div {
    margin-left: 20px;
    display: flex;
    width: 100%;
}

nav div span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #cc3333;
    transform: rotate(45deg);
    opacity: 60%;
    margin: 15px;

}

nav div:hover {
    cursor: pointer;
}

nav div:hover>span {
    opacity: 1;
}

nav div p {
    opacity: 0;
    flex-basis: 60%;
    font-size: 16px;
    margin: 10px;
}

nav div:hover p {
    opacity: 1;
}

.active {
    opacity: 1;
}

section>p {
    font-size: 72px;
    margin-right: 10vw;
    margin-top: 15vh;

}

section>p span {
    color: #cc3333;
}

img.rubbishOne {
    position: absolute;
    left: 0;
    top: 37vh;
    height: 689px;
    width: 100%;
}

img.arrow {
    /* display: none; */
    position: absolute;
    opacity: 1;
    height: 46px;
    width: 95px;
    top: 84vh;
    left: 46vw;
    animation: moveDown 1s infinite alternate;
}

img.arrow:hover {
    cursor: pointer;
}

img.rubbishTwo {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 100vh;
    width: 100%;
    height: 583px;

}

img.rubbishThree {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 125vh;
    /* top: 100vh; */
    width: 100%;
    height: 565px;
}

img.rubbishFour {
    z-index: 3;
    position: absolute;
    left: 0;
    bottom: -10vh;
    width: 100%;
    height: 541px;
}

button {
    font-size: 20px;
    width: 325px;
    height: 52px;
    border: none;
    z-index: 5;
    position: absolute;
    color: white;
}

button:hover {
    cursor: pointer;
    /* opacity: 80%; */
}

button.pink {
    background-color: #ff6699;
    right: 0;
    top: 133vh;
}

button.blue {
    background-color: #006699;
    left: 0;
    /* left: 4vw; */
    top: 165vh;
    /* top: 112vh; */

}

button.red {
    background-color: #ff3333;
    right: 0;
    bottom: 43vh;
    /* bottom: 141vh; */
}


/* Pierwsza strona */

section.firstPage {
    background-color: #76C5C5;
    flex-basis: 70%;
    height: 450vh;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 120vh;
    left: 0;
    overflow: hidden;
}

section.firstPage div {
    flex-basis: 17%;
    display: flex;
    color: white;

}

section.firstPage div:nth-child(1) {
    justify-content: flex-end;
}

section.firstPage div p {
    flex-basis: 50%;
    height: 150vh;
    padding: 100px;
    line-height: 1.5;
    font-size: 16px;
    text-align: justify;
}

section.firstPage p>span {
    font-size: 27px;
    margin-bottom: 15px;
}

img.pluca {
    position: absolute;
    height: 120vh;
    width: 68vw;
    top: 75vh;
    left: -12vw;
    animation: 2s breath infinite;
}

img.cloud {
    position: absolute;
    height: 88vh;
    width: 97vw;
    bottom: 75vh;
    right: -45vw;
}

img.city {
    width: 100%;
    flex-basis: 5%;

}

/* Druga strona */

section.secondPage {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 140vh;
    background-color: #dadada;
    justify-content: flex-end;
}

section.secondPage>div {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    background-color: #dadada;
}

section.secondPage div.phone {
    flex-basis: 10%;
    z-index: 10;
}

section.secondPage div.phone>img {
    display: block;
    width: 6vw;
    margin-bottom: 50px;
    margin-left: 100px;
}

section.secondPage div.phone p {
    margin-bottom: 70px;
    margin-left: 25px;
    color: #D60026;
}

section.secondPage div.map {
    position: absolute;
    height: 170vh;
    width: 100%;
}

section.secondPage div.map img.map {
    margin-left: 150px;
    margin-top: 50px;
    width: 780px;
    align-self: center;
}

div.map img.sign {
    width: 38px;
    position: absolute;
    left: 0;
    bottom: 0;
}

#strosz {
    margin-bottom: 553px;
    margin-left: 601px;
}

#miech {
    margin-bottom: 425px;
    margin-left: 323px;
}

#karb {
    margin-bottom: 496px;
    margin-left: 505px;
}

#srod1 {
    margin-bottom: 476px;
    margin-left: 556px;
}

#srod2 {
    margin-bottom: 405px;
    margin-left: 580px;
}

#srod3 {
    margin-bottom: 372px;
    margin-left: 709px;
}

#bobr {
    margin-bottom: 288px;
    margin-left: 455px;
}

#szomb1 {
    margin-bottom: 315px;
    margin-left: 548px;
}

#szomb2 {
    margin-bottom: 288px;
    margin-left: 651px;
}

#łag1 {
    margin-bottom: 233px;
    margin-left: 682px;
}

#łag2 {
    margin-bottom: 267px;
    margin-left: 717px;
}

#rozb1 {
    margin-bottom: 330px;
    margin-left: 848px;
}

#rozb2 {
    margin-bottom: 412px;
    margin-left: 853px;
}

#rozb3 {
    margin-bottom: 415px;
    margin-left: 800px;
}

/* Trzecia strona */

section.lastPage {
    background-color: #ffcccd;
    display: none;
    justify-content: center;
    align-items: flex-end;
    flex-basis: 52%;
    margin-top: 80vh;
    font-size: 16px;
}

section.lastPage>img {
    height: 500px;
}

section.lastPage div.contact {
    flex-basis: 25%;
    height: 30vh;
    display: flex;
    margin-bottom: 200px;
    flex-direction: column;
}

section.lastPage div.contact div {
    display: flex;
    width: 100%;
    margin: 10px;
}

section.lastPage div.contact div p {
    display: block;
    width: 200px;
    margin-left: 10px
}

img#phone {
    display: block;
    width: 20px;
}



@keyframes moveDown {
    0% {
        top: 84vh;
    }

    100% {
        top: 87vh;
    }
}

@keyframes breath {
    0% {
        transform: scale(70%);
    }

    50% {
        transform: none;
    }

    100% {
        transform: scale(70%);
    }
}